<ion-header>
    <ion-toolbar>
        <ion-title>Auto Car</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item
            class="item"
            *ngFor="let carro of carros, let idx = index"
            (click)="selecionar(carro, idx)">
            <ion-label>
                <h2>{{carro.nome}}</h2>
                <p>{{carro.preco | currency:'BRL':true}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
            <ion-label>
                <h2>Av. Castelo Branco Nº 167</h2>
            </ion-label>
        </ion-title>
    </ion-toolbar>
</ion-footer>
